/* common */

html {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: 'Lato';
  margin: 0;
  padding: 0;
}

.clearfix:after {
  display:block;
  content:"";
  clear:both;
}

.bg {
  width:100%;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
}

.raleway {
  font-family: 'Raleway';
}

/* header */
.header {
  background-color: #fff;
  padding: 15px 0;
  position: fixed;
  z-index: 999;
}

.fa-bolt {
  font-size: 45px;
  color: #c0c0c0;
}

.contact {
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  color: #fff;
  float: right;
}

.contact:hover {
  color: #333;
}


/* theme */
.center{
  padding-top: 75px;
}

.theme {
  text-align: center;
  padding: 250px 0;
}

.title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 30px;
  color: #c0c0c0;
}

/* what can we do */

.green {
  padding-top: 50px;
  background-color: #74cfae;
}

.phone{
  float: left;
}

.right {
  color: #ffffff;
  text-align: center;
  margin-left: 100px;
  float: left;
}

.para {
  font-size: 24px;
}

.can {
  font-size: 20px;
  margin-top: 35px;
  width: 500px;
}

/* latest work */
.our {
  padding: 70px 0;
}

.latest {
  margin-bottom: 60px;
  text-align: center;
  color: #333;
}

.latestwork {
  text-align: center;
}

.images{
  margin-bottom: 90px;
}

.image {
  margin: 0 100px 80px 0;
  opacity: 0.7;
  font-size: 0;
  box-sizing: border-box;
  float: left;
  transition: 0.3s;
}

.image:hover {
  opacity: 1.0;
}

.image:nth-child(3n) { 
  margin-right: 0;
}

.image:nth-last-child(-n+3){
  margin-bottom: 0;
}

.imgsentense {
  color: #333;
  display: inline-block;
  width: 600px;
}

.email {
  display: inline-block;
  margin-left: 90px;
  color: #ffffff;
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
}

.email:hover {
  color: #333;
}


.skills {
  background-color: #4e4e4e;
  color: #ffffff;
  text-align: center;
  padding: 70px 0 100px 0;
}

.ourskills {
  text-align: center;
}

.ourskills_box {
  margin-top: 50px;
}

.skillbox {
  display: inline-block;
  margin-right: 180px;
}

.skillbox:last-child {
  margin-right: 0;
}

.circle {
  margin-bottom: 20px;
}


/* sns */
.sns {
  padding: 200px 0;
  text-align: center;
}

.icon {
  width: 185px;
  padding: 20px 0 20px 0;
  font-size: 24px;
  color: #74cfae;
  box-sizing: border-box;
}

.icon:hover {
  background-color: #ffffff;
  transition: 0.3s;
}


/* footer */
.foot {
  background-color: #74cfae;
  padding: 20px 0 25px 0;
}

.footer {
  color: #ffffff;
  text-align: right;
  font-size: 12px;
}

